﻿
@{
    ViewBag.Title = "Competitors";
}
<h2>Competitors</h2>
<hr />
@Html.ActionLink("Register new competitor", "RegisterCompetitor", "Manage")
<hr />
<div>
    <h4>Search by ID</h4>
    <input type="text" class="form-control" id="competitorId" />
    <button id="find" type="button" style="margin-top:5px" class="btn btn-info">Search</button>
    <p id="competitor" />
</div>
<hr />
<div>
    <h4>All competitors from your club</h4>
    <ul id="competitors" />
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    var uri = 'Api/Competitors';

    $(document).ready(function () {
        $.getJSON(uri).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: formatItem(item) }).appendTo($('#competitors'));
            });
        });

        $("#find").click(function () {
            $.getJSON(uri + '/' + $("#competitorId").val()).done(function (data) {
                $('#competitor').text(formatItem(data));
            }).fail(function (jqXHR, textStatus, err) {
                $('#competitor').text(err);
            });
        });

        $('#competitorId').keypress(function (e) {
            if (e.which == 13) {
                $('#find').click();
                return false;    //<---- Add this line
            }
        });
    });
</script>