@{
    Layout = null;
}

@if (Request.IsAuthenticated)
{
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Competitors</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            @Html.ActionLink("Home", "Index", "Home")
            <hr />
            @Html.ActionLink("Register new competitor", "RegisterCompetitor", "Manage")
            <hr />
            <h4>All competitors</h4>
            <ul id="competitors" />
        </div>
        <script>
            var uri = "/API/Competitors"
            $(document).ready(function () {
                // Send an AJAX request
                $.getJSON(uri)
                    .done(function (data) {
                        // On success, 'data' contains a list of products.
                        $.each(data, function (key, item) {
                            // Add a list item for the product.
                            if (item.ApplicationUserId == "@ViewBag.Id") {
                                $('<li>', { text: formatItem(item) }).appendTo($('#competitors'));
                            }
                        });
                    });
            });

            function formatItem(item) {
                return 'First name: ' + item.FirstName + ' --- Last name: ' + item.LastName + ' --- Birth date: ' + item.BirthDate + ' --- City: '
                    + item.City + ' --- Country: ' + item.Country;

            }

        </script>
    </body>
</html>
}
else
{
    Response.Redirect("/Account/Login");
}