﻿@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-lg-3 col-md-2 col-sm-1"></div>
    <div class="col-lg-6 col-md-8 col-sm-10">
        <h2 class="text-center">@ViewBag.Title</h2><br /><hr />
        <p class="text-center" style="line-height:36px">
            With this web application you will be able to register your karate club.
            You can also register competitors from your club, edit competitors and delete.
        </p>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-1"></div>
</div>