﻿@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron text-center">
    <h3>Software for professional karate management</h3>
    <h4 class="text-info">Manage the competitors from your club</h4>
    @if (!Request.IsAuthenticated)
    {
        <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Register", "Account")'">Register</button>
    }
</div>
<hr>
<div class="row">
    <div class="col-lg-1 col-md-1"></div>
    <img class="col-lg-10 col-md-10 col-sm-12 col-xs-12 img-rounded" src="~/Content/homekarate.jpg" alt="kata team bunkai wallpaper" />
    <div class="col-lg-1 col-md-1"></div>
</div>